body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 10vh;
  width: 100vw;
  border-bottom: 1px solid #000;
}

header ul {
  list-style: none;
  display: flex;
  gap: 10vw;
}

header ul li {
  font-size: 20px;
}

.movie_list {
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.movie {
  width: 30vw;
  height: 40vh;
}

.movie img {
  height: 25vh;
  width: 20vw;
}

.counter {
  display: flex;
  gap: 10vw;
}

.fa-thumbs-up,
.fa-comment {
  background-color: #037e7e;
  border-radius: 0.2em;
  padding: 0.5em;
}
