@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url('http://fonts.cdnfonts.com/css/cocogoose');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

ul {
  list-style: none;
}

.logo {
  font-weight: bolder;
  font-size: 30px;
  font-family: Cocogoose, Arial, Helvetica, sans-serif;
  color: #037e7e;
}

header {
  height: 10vh;
  width: 100vw;
  border-bottom: 1px solid #000;
}

header ul {
  list-style: none;
  display: flex;
  gap: 10vw;
}

header ul li {
  font-size: 20px;
}

.movie_list {
  margin: 50px auto;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.counter {
  display: flex;
  gap: 2vw;
}

button {
  border: none;
  height: 30px;
}

.fa-thumbs-up,
.fa-comment {
  background-color: #037e7e;
  border-radius: 0.2em;
  padding: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

.modalContainer {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.movie-image {
  margin: 20px 0 0 0;
}

.popupModal {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px 15px;
  overflow: auto;
  background: #fff;
}

.show-text {
  width: 50%;
}

.shows-title,
.comment-title,
.inputTitle {
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: auto;
}
